Repository neoforged/NeoForm, pull requests merged in 2024-04, with the labels that each got.

#3 Use updated Vineflower parameter names
  versions/pre/1.20/1.20.5-pre1/config.json
Labels: enhancement, 1.20.5-pre1

#5 1.20.5-pre2
  versions/pre/1.20/1.20.5-pre2/patches/client/net/minecraft/client/Minecraft.java.patch
  versions/pre/1.20/1.20.5-pre2/patches/joined/net/minecraft/client/Minecraft.java.patch
  versions/pre/1.20/1.20.5-pre2/patches/shared/net/minecraft/server/MinecraftServer.java.patch
  versions/pre/1.20/1.20.5-pre2/patches/shared/net/minecraft/server/network/ServerGamePacketListenerImpl.java.patch
  versions/pre/1.20/1.20.5-pre2/patches/shared/net/minecraft/world/item/crafting/RecipeManager.java.patch
Labels: 1.20.5-pre2

#6 1.20.5-pre3, Vineflower 1.10.1, re-add parameter metadata
  versions/pre/1.20/1.20.5-pre3/config.json
  versions/pre/1.20/1.20.5-pre3/patches/client/com/mojang/realmsclient/gui/screens/RealmsSelectWorldTemplateScreen.java.patch
  versions/pre/1.20/1.20.5-pre3/patches/client/net/minecraft/client/gui/screens/worldselection/ConfirmExperimentalFeaturesScreen.java.patch
  versions/pre/1.20/1.20.5-pre3/patches/joined/com/mojang/realmsclient/gui/screens/RealmsSelectWorldTemplateScreen.java.patch
  versions/pre/1.20/1.20.5-pre3/patches/joined/net/minecraft/client/gui/screens/worldselection/ConfirmExperimentalFeaturesScreen.java.patch
  versions/pre/1.20/1.20.5-pre3/patches/shared/net/minecraft/core/component/TypedDataComponent.java.patch
  versions/pre/1.20/1.20.5-pre3/patches/shared/net/minecraft/util/datafix/fixes/OptionsKeyTranslationFix.java.patch
  versions/pre/1.20/1.20.5-pre3/patches/shared/net/minecraft/world/level/levelgen/SurfaceRules.java.patch
Labels: 1.20.5-pre3
